/* コードブロック */
@import url(../themes/node_modules/@vivliostyle/theme-base/css/lib/prism/base.css);
@import url(../themes/node_modules/@vivliostyle/theme-base/css/lib/prism/theme-prism.css);
/* @import url(../themes/packages/@vivliostyle/theme-base/css/lib/prism/theme-okaidia.css); */

:root {
  --vs-section--h1-marker-display: initial;
  --vs-section--h1-marker-content: counter(vs-counter-chapter) '.';
  --vs-section--h2-marker-content: counter(vs-counter-chapter) '.' counter(vs-counter-sec-h2);
  --vs-section--h3-marker-content: counter(vs-counter-chapter) '.' counter(vs-counter-sec-h2) '.' counter(vs-counter-sec-h3);
  --vs-section--h4-marker-content: counter(vs-counter-chapter) '.' counter(vs-counter-sec-h2) '.' counter(vs-counter-sec-h3) '.' counter(vs-counter-sec-h4);
  --vs-section--h5-marker-content: counter(vs-counter-chapter) '.' counter(vs-counter-sec-h2) '.' counter(vs-counter-sec-h3) '.' counter(vs-counter-sec-h4) '.' counter(vs-counter-sec-h5);
  --vs-section--h6-marker-content: counter(vs-counter-chapter) '.' counter(vs-counter-sec-h2) '.' counter(vs-counter-sec-h3) '.' counter(vs-counter-sec-h4) '.' counter(vs-counter-sec-h5) '.' counter(vs-counter-sec-h6);

  /* 表のテキストを左寄せ */
  --vs--table-text-align: left;

  /* リストのテキストを左寄せ */
  --vs--lists-text-align: left;
}

h1 {
  margin-bottom: 0.5em;
}

section:has(> h1:first-child) {
  counter-increment: none !important;
}
section > :is(h1):first-child + * {
  counter-reset: none !important;
}

/* ページ右上のロゴ */
@page {
  @top-right {
    content: '';
    margin-right: -8pt;
    width: 100pt;
    height: var(--vs-page--margin-top);
    background-image: url("../contents/images/logotype.svg");
    background-color:rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
}

/* ページ区切り用 */
/* <div class="page-break"></div> を挿入した箇所でページ区切り */
.page-break {
  break-before: page;
}

/* 章タイトル（H1）を左寄せ */
section.chapter > h1,
.chapter h1 {
  text-align: left !important;
}

/* H2が切り替わるたびにH3カウンターをリセット */
section:has(> h2:first-child) {
  counter-reset: vs-counter-sec-h3 0 !important;
}

/* 表に縦線を追加・横幅いっぱいに */
table {
  border-collapse: collapse;
  min-width: 90%;
}
th, td {
  border: 1px solid #000;
}
th {
  background-color: #f0f0f0;
}